.header {
  background-color: var(--navy-dark);
  color: var(--cream);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.navList a {
  text-decoration: none;
  color: var(--cream);
  font-weight: bold;
}
